<h2> All Contestants </h2>
<% @contestants.each do |contestant| %>
  <div id="contestant-<%=contestant.id %>">
    <p> <b>Name:</b> <%= contestant.name %> </p>
    <p> <b>Projects:</b> <% contestant.projects.each do |project| %>
    <%= project.name %> |
    <% end %> </p>
    <hr>
  </div>
<% end %>
