<h1>All Contestants</h1>

<% @contestants.each do |contestant| %>
  <section id="contestant<%= contestant.id %>">
    <h3><%= contestant.name %></h3>
    <p>Projects:
      <% contestant.projects.each do |project| %>
      <%= project.name %>,
      <% end %>
    </p>
  </section>
<% end %>
