<% @contestants.each do |contestant| %>

<p><%= contestant.name %> </p>
<div id="contestant-<%= contestant.id %>">
  Projects:
  <% contestant.projects.each do |project| %>
    <%= project.name %>
  <% end %>
</div>
<% end %>
