<h1>All Contestants:</h1>

<% @contestants.each do |contestant| %>
  <div id="contestant-<%= contestant.id %>">
    <p><strong><%= contestant.name %></strong></p>
    <p><strong>Projects:</strong> <%= contestant.project_names %></p>
  </div>
  <br>
<% end %>
