<h1>All Contestants</h1>

<% @contestants.each do |contestant| %>
  <p><h2> <%= contestant.name %></h2></p>
    <% contestant.projects.each do |project| %>
      <p>Project: <%= project.name %></p>
    <% end %>
<% end %>
