<% @contestants.each do |contestant| %>
    <div id="<%= contestant.id %>">
      <h3><%= contestant.name %></h3>
      <h4>Projects: </h4><% contestant.projects.each do |project| %>
        <%= project.name %>,
    <% end %>
    </div>
<% end %>
