
<h> Project Show Page</h>
<p> Project Name: <%= @project.name %></p>

<p> Project Material: <%= @project.material %></p>

<p> Project Challenge Theme: <%= @project.challenge.theme %></p>


<p> Number of Contestants: <%= @project.number_of_contestants %></p>
