<h1>Project: <%= "#{@projects.name}" %></h1>
<h2>Material: <%= "#{@projects.material}" %></h2>
<h3>Theme: <%= "#{@projects.challenge.theme}" %></h3>
<h4>Number of Contestants: <%= @projects.total_contestants %></h4>
