<h1>Project Name: <%= @project.name %></h1>

<p><strong>Material:</strong> <%= @project.material %></p>
<p><strong>Challenge Theme:</strong> <%= @project.challenge_theme %></p>
<p><strong>Number of Contestants:</strong> <%= @project.number_of_contestants %></p>
